USE [STAGIN093JARD]
GO
/****** Object:  Table [dbo].[CategoriaProducto_STJARD]    Script Date: 12/05/2024 9:05:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProducto_STJARD](
	[Id_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Id_Categoria_O] [int] NULL,
	[Desc_Categoria] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente_STJARD]    Script Date: 12/05/2024 9:05:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente_STJARD](
	[ID_cliente] [int] IDENTITY(1,1) NOT NULL,
	[ID_cliente_O] [int] NULL,
	[nombre_cliente] [nvarchar](50) NULL,
	[apellido_contacto] [nvarchar](30) NULL,
	[telefono] [nvarchar](15) NULL,
	[linea_direccion1] [nvarchar](50) NULL,
	[ciudad] [nvarchar](50) NULL,
	[region] [nvarchar](50) NULL,
	[pais] [nvarchar](50) NULL,
	[limite_credito] [numeric](15, 2) NULL,
	[codigo_postal] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado_STJARD]    Script Date: 12/05/2024 9:05:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado_STJARD](
	[ID_empleado] [int] IDENTITY(1,1) NOT NULL,
	[ID_empleado_O] [int] NULL,
	[nombre] [nvarchar](50) NULL,
	[extension] [nvarchar](10) NULL,
	[ID_oficina_O] [int] NULL,
	[puesto] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[apellido1] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeografiaOficina_STJARD]    Script Date: 12/05/2024 9:05:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeografiaOficina_STJARD](
	[ID_oficina] [int] IDENTITY(1,1) NOT NULL,
	[ID_oficina_O] [int] NULL,
	[ciudad] [nvarchar](30) NULL,
	[pais] [nvarchar](50) NULL,
	[region] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_oficina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto_STJARD]    Script Date: 12/05/2024 9:05:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto_STJARD](
	[ID_producto] [int] IDENTITY(1,1) NOT NULL,
	[ID_producto_O] [nvarchar](15) NULL,
	[nombre] [nvarchar](70) NULL,
	[Categoria] [int] NULL,
	[proveedor] [nvarchar](50) NULL,
	[cantidad_en_stock] [smallint] NULL,
	[precio_venta] [numeric](15, 2) NULL,
	[precio_proveedor] [numeric](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiempo_STJARD]    Script Date: 12/05/2024 9:05:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiempo_STJARD](
	[fecha_pedido] [date] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoriaProducto_STJARD] ON 

INSERT [dbo].[CategoriaProducto_STJARD] ([Id_Categoria], [Id_Categoria_O], [Desc_Categoria]) VALUES (1, 1, N'Herbaceas')
INSERT [dbo].[CategoriaProducto_STJARD] ([Id_Categoria], [Id_Categoria_O], [Desc_Categoria]) VALUES (2, 2, N'Herramientas')
INSERT [dbo].[CategoriaProducto_STJARD] ([Id_Categoria], [Id_Categoria_O], [Desc_Categoria]) VALUES (3, 3, N'AromÃ¡ticas')
SET IDENTITY_INSERT [dbo].[CategoriaProducto_STJARD] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente_STJARD] ON 

INSERT [dbo].[Cliente_STJARD] ([ID_cliente], [ID_cliente_O], [nombre_cliente], [apellido_contacto], [telefono], [linea_direccion1], [ciudad], [region], [pais], [limite_credito], [codigo_postal]) VALUES (1, 1, N'GoldFish Garden', N'GoldFish', N'5556901745', N'False Street 52 2 A', N'San Francisco', NULL, N'USA', CAST(3000.00 AS Numeric(15, 2)), N'24006')
INSERT [dbo].[Cliente_STJARD] ([ID_cliente], [ID_cliente_O], [nombre_cliente], [apellido_contacto], [telefono], [linea_direccion1], [ciudad], [region], [pais], [limite_credito], [codigo_postal]) VALUES (2, 2, N'Gardening Associates', N'Wright', N'5557410345', N'Wall-e Avenue', N'Miami', N'Miami', N'USA', CAST(6000.00 AS Numeric(15, 2)), N'24010')
INSERT [dbo].[Cliente_STJARD] ([ID_cliente], [ID_cliente_O], [nombre_cliente], [apellido_contacto], [telefono], [linea_direccion1], [ciudad], [region], [pais], [limite_credito], [codigo_postal]) VALUES (3, 3, N'Gerudo Valley', N'Flaute', N'5552323129', N'Oaks Avenue nÂº22', N'New York', NULL, N'USA', CAST(12000.00 AS Numeric(15, 2)), N'85495')
GO
SET IDENTITY_INSERT [dbo].[Cliente_STJARD] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado_STJARD] ON 

INSERT [dbo].[Empleado_STJARD] ([ID_empleado], [ID_empleado_O], [nombre], [extension], [ID_oficina_O], [puesto], [email], [apellido1]) VALUES (1, 1, N'Marcos', N'3897', 8, N'Director General', N'marcos@jardineria.es', N'MagaÃ±a')
INSERT [dbo].[Empleado_STJARD] ([ID_empleado], [ID_empleado_O], [nombre], [extension], [ID_oficina_O], [puesto], [email], [apellido1]) VALUES (2, 2, N'Ruben', N'2899', 8, N'Subdirector Marketing', N'rlopez@jardineria.es', N'LÃ³pez')
INSERT [dbo].[Empleado_STJARD] ([ID_empleado], [ID_empleado_O], [nombre], [extension], [ID_oficina_O], [puesto], [email], [apellido1]) VALUES (3, 3, N'Alberto', N'2837', 8, N'Subdirector Ventas', N'asoria@jardineria.es', N'Soria')
GO
SET IDENTITY_INSERT [dbo].[Empleado_STJARD] OFF
GO
SET IDENTITY_INSERT [dbo].[GeografiaOficina_STJARD] ON 

INSERT [dbo].[GeografiaOficina_STJARD] ([ID_oficina], [ID_oficina_O], [ciudad], [pais], [region]) VALUES (1, 1, N'Barcelona', N'EspaÃ±a', N'Barcelona')
INSERT [dbo].[GeografiaOficina_STJARD] ([ID_oficina], [ID_oficina_O], [ciudad], [pais], [region]) VALUES (2, 2, N'Boston', N'EEUU', N'MA')
INSERT [dbo].[GeografiaOficina_STJARD] ([ID_oficina], [ID_oficina_O], [ciudad], [pais], [region]) VALUES (3, 3, N'Londres', N'Inglaterra', N'EMEA')
SET IDENTITY_INSERT [dbo].[GeografiaOficina_STJARD] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto_STJARD] ON 

INSERT [dbo].[Producto_STJARD] ([ID_producto], [ID_producto_O], [nombre], [Categoria], [proveedor], [cantidad_en_stock], [precio_venta], [precio_proveedor]) VALUES (1, N'11679', N'Sierra de Poda 400MM', 2, N'HiperGarden Tools', 15, CAST(14.00 AS Numeric(15, 2)), CAST(11.00 AS Numeric(15, 2)))
INSERT [dbo].[Producto_STJARD] ([ID_producto], [ID_producto_O], [nombre], [Categoria], [proveedor], [cantidad_en_stock], [precio_venta], [precio_proveedor]) VALUES (2, N'11679', N'Sierra de Poda 400MM', 2, N'HiperGarden Tools', 15, CAST(14.00 AS Numeric(15, 2)), CAST(11.00 AS Numeric(15, 2)))
INSERT [dbo].[Producto_STJARD] ([ID_producto], [ID_producto_O], [nombre], [Categoria], [proveedor], [cantidad_en_stock], [precio_venta], [precio_proveedor]) VALUES (3, N'11679', N'Sierra de Poda 400MM', 2, N'HiperGarden Tools', 15, CAST(14.00 AS Numeric(15, 2)), CAST(11.00 AS Numeric(15, 2)))
SET IDENTITY_INSERT [dbo].[Producto_STJARD] OFF
GO
INSERT [dbo].[Tiempo_STJARD] ([fecha_pedido]) VALUES (CAST(N'2006-01-17' AS Date))
INSERT [dbo].[Tiempo_STJARD] ([fecha_pedido]) VALUES (CAST(N'2007-10-23' AS Date))
INSERT [dbo].[Tiempo_STJARD] ([fecha_pedido]) VALUES (CAST(N'2008-06-20' AS Date))
GO
